<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yesat.vozon">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.info.InfoTmpActivity" />
        <activity android:name=".ui.info.LocationActivity" />

        <activity
            android:name=".ui.auth.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/enter_sms"/>
        <activity android:name=".ui.auth.SendSmsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.auth.XSignUpActivity"
            android:label="@string/registration"/>
        <activity android:name=".ui.auth.YSignUpNextActivity"
            android:label="@string/registration"/>
        <activity android:name=".ui.auth.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/registration"/>
        <activity android:name=".ui.auth.YSignUpActivity"
            android:label="@string/registration"/>

        <activity android:name=".ui.client.XSettingActivity" />
        <activity android:name=".ui.client.XMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.client.posted.XOrderPDetailActivity" />
        <activity android:name=".ui.client.posted.XOfferListActivity"
            android:label="Список предложений"/>
        <activity android:name=".ui.client.OrderNewActivity" />
        <activity android:name=".ui.client.CategoryActivity" />
        <activity android:name=".ui.client.active.XOrderADetailActivity" />
        <activity android:name=".ui.client.route.RouteFilterActivity"
            android:label="Найти"/>
        <activity android:name=".ui.client.route.XRouteDetailActivity" />
        <activity android:name=".ui.client.active.CourierProfileActivity"
            android:label="@string/profile"/>
        <activity android:name=".ui.client.XProfileUpdateActivity" />


        <activity
            android:name=".ui.courier.YMainActivity"
            android:theme="@style/AppThemeDark.NoActionBar" />
        <activity
            android:name=".ui.courier.transport.TransportNewActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.courier.transport.TransportDetailActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.courier.order.YOrderPDetailActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.courier.order.OfferNewActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.courier.transport.TransportListActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.courier.route.RouteNewActivity"
            android:label="Добавить объявление"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.courier.route.YRouteDetailActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.courier.order.YOrderWDetailActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.courier.order.YOrderADetailActivity"
            android:theme="@style/AppThemeDark" />

        <activity android:name=".ui.courier.YProfileUpdateActivity" />
        <activity android:name=".ui.courier.YProfileUpdateNextActivity" />
        <activity android:name=".ui.courier.YSettingActivity" />

        <service
            android:name=".services.MyFirebaseInstanceIDService"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".ui.info.TermsActivity" />
        <activity android:name=".ui.info.MultiInfoActivity" />
        <activity android:name=".ui.courier.order.OrderFilterActivity" />
    </application>

</manifest>